{% extends "layout.html" %}

{% block heading %}
    Register for a nice chat
{% endblock %}

{% block body %}
    <p>To begin a chat please specify your display name</p>
    <form id="form" action="{{ url_for('signin') }}" method="post">
      <input id="name" name="username" autocomplete="off" autofocus placeholder="Enter your display name" type="text">
      <input type="submit" name="" value="Submit">
    </form>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
